<div class="row">
    {{#each dirlist}}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <!--a href="/showFiles/:{{this}}" class="btn btn-primary">{{this}}</a-->
                
                <form action="/showFiles/" method="POST">
                    <input type="submit" name='folder' value='{{@root.id}}{{this}}' class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<div class="table-responsive-lg">
    <table class="table table-hover table-bordered table-dark">
        <tbody>
            {{#each fileToShow}}
            <tr>
                
                    <td>{{this}}</td>
                    <td>
                        <form action="/downloadFile" method="POST" class="btn btn-primary">
                            <!--input type="submit" name='file' style="color:transparent;display:hidden;" value="{{@root.id}}{{this}}"   id='download'-->
                            <button type="submit" name="file" value="{{@root.id}}{{this}}">DOWNLOAD</button>
                        </form>
                        <form action="/view" method="POST">
                            <!--input type="submit" name='fileView'  value="{{@root.id}}{{this}}" class="btn btn-primary" id='view'-->
                             <button type="submit" name="fileView" value="{{@root.id}}{{this}}">View</button>
                        </form>
                        <!--input type="text" name="username" class="form-control"-->
                        <!--input type="submit" name="file" value="download" class="btn btn-primary">
                        <input type="submit" value="View" formaction="/view/:{{@root.id}}{{this}}" class="btn btn-primary"-->
                    </td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    //document.getElementById('download').value='DOWNLOAD'
    //document.getElementById('view').value='VIEW'
</script>